.stripePayment2 .form-group > label,
.stripePayment22 .StripeElement--focus > label {
  bottom: 34px;
  left: 1px;
  position: relative;
  padding: 0px 5px 0px 5px;
  transition: 0.2s;
  pointer-events: none;
  font: normal normal normal 16px/0px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.stripePayment2 .form-group {
  width: 100%;
}

.stripePayment2 .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: white !important;
}
.stripePayment2 .form-control:focus {
  background: white !important;
}
.stripePayment2 .input-group {
  border-bottom: 0.1px solid #88888880;
  height: 40px;
  margin-bottom: 9%;
}
.stripePayment2 .input-group-append {
  width: 100%;
}
/* .stripePayment2 .form-group{margin-bottom: 40px;} */
.stripePayment2 .form-control:focus ~ label,
.stripePayment2 .StripeElement--focus ~ label {
  bottom: 50px;
}

.stripePayment2 .form-control:valid ~ label,
.stripePayment2 .StripeElement--complete ~ label,
.stripePayment2 .StripeElement--invalid ~ label {
  bottom: 50px;
}
.stripePayment2 input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}
.stripePayment2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 10px;
  padding: 30px 40px 30px 40px;
}

.stripePayment2 .payHeader button {
  height: 44px;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 5px;
  color: white;
}

.stripePayment2 .or p:before,
.stripePayment2 .or p:after {
  background-color: #8888886e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.stripePayment2 .or p:before {
  right: 0.5em;
  margin-left: -50%;
}
.stripePayment2 .or p:after {
  left: 0.5em;
  margin-right: -50%;
}
.stripePayment2 .or p {
  overflow: hidden;
  text-align: center;
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.stripePayment2 .or {
  margin-top: 4%;
  margin-bottom: 10%;
}

.stripePayment2 .noteBtn p {
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.stripePayment2 .noteBtn a {
  text-align: left;
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #0078d4;
}
.stripePayment2 .noteBtn {
  margin-top: 8%;
}
.stripePayment2 .noteBtn button {
  background: transparent linear-gradient(265deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 5px;
  color: white;
  height: 44px;
  border: 0 !important;
  font: normal normal normal 17px/21px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.stripePayment2 .has-tooltip {
  position: relative;
}
.has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
}
.stripePayment2 .has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Body */
.stripePayment2 .tooltip {
  bottom: 112%;
  width: 186px;
  left: -275%;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  font: normal normal normal 12px/19px Lato !important;
  color: #ffffff;
  height: 109px;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 7px;
}

/* Tooltip Caret */
@media (max-width: 805px) {
  .stripePayment2 .tooltip {
    left: -129px;
  }
}
.stripePayment2 .MuiInput-underline:before {
  border-bottom: 1px solid #ced4da !important;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.stripePayment2 .item {
  width: 50%;
}

.stripePayment2 .MuiGrid-item {
  width: 100%;
}
.stripePayment2 .ximg {
  width: 30px;
  height: 20px;
  margin-left: 1px;
}

.stripePayment2 .error {
  margin-top: -10%;
  color: #ffc7ee;
}

.stripePayment2 .valid-feedback {
  width: 100%;
  margin-top: -20px;
}

.hidden {
  display: none;
}
.inline-errormsg {
  color: red;
  font-size: 12px;
  margin-top: -34px;
}
.stripePayment2 .ErrorMessage {
  color: red;
  font-size: 12px;
}
