/* .form-group>label {
  bottom: 34px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  transition: 0.2s;
  pointer-events: none;
}

.form-control:focus~label {
  bottom: 55px;
}

.form-control:valid~label {
  bottom: 55px;
}

 .xx{
   width:74%;
 } 
 .xx label{
  height: 38px;
  width:100%;
 }
 .form-group p{
  bottom: 34px;
  left: 5px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  transition: 0.2s;
  pointer-events: none;
 }
 
 .StripeElement--focus~p, .StripeElement--focus:invalid~p{
  bottom: 70px;
  font-size: 1em;
 }
 .StripeElement--focus .InputElement::placeholder {
  color: transparent !important;
} */