body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',lato
    monospace;
}  


@font-face{
  font-family: lato;
  src: url(./fonts/Lato-Light.ttf);
}

@font-face{
  font-family: lato;
  src:url(./fonts/lato.medium.ttf);
}
@font-face{
  font-family: lato;
  src: url(./fonts/lato.semibold.ttf);
}
