.reportnavbar {
  background: transparent linear-gradient(266deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  height: 75px;
}

.reportnavbar .logo {
  width: 140px;
  height: 60px;
  border: 1px solid var(--unnamed-color-707070);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-right: 2%;
}
.reportnavbar dl {
  padding: 8px 8px 8px 8px;
}
.reportnavbar .name img {
  padding-bottom: 14px;
  height: 46px;
  margin-right: 7px;
}
.reportnavbar .name p {
  width: 274px;
  height: 34px;
  text-align: left;
  font: normal normal 500 18px/34px Lato;
  letter-spacing: 0px;
  color: #ffffff;
}
#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

.reportnavbar .download button {
  width: 125px;
  height: 45px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 23px;
}
.reportnavbar .download {
  float: right;
}
@media (max-width: 880px) {
  .reportnavbar .logo {
    width: 120px;
  }
  .reportnavbar .name p {
    width: 200px;
}
}

@media (max-width: 860px) {
  .reportnavbar .logo {
    width: 120px;
  }
  .reportnavbar .name p {
    width: 200px;
}
}
@media (max-width: 835px) {
  .reportnavbar .logo {
    width: 117px;
  }
  .reportnavbar .name p {
    width: 200px;
}
}
@media (max-width: 790px) {
  .reportnavbar .logo {
    width: 110px;
  }
  .reportnavbar .name p {
    
    width: 170px;
    font-size: 15px;
  }
  .reportnavbar .download button {
    width: 108px;
    height: 40px;
  }
}
@media (max-width: 709px) {
  .reportnavbar .name p {
    width: 167px;
  }
}
@media (max-width: 680px) {
  .reportnavbar .logo {
    width: 85px;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 140px;
    line-height: 21px;
    font-size: 15px;
  }
  .reportnavbar .download button {
    width: 108px;
    height: 40px;
  }
  .reportnavbar .name img {
    width: 26px;
    height: 41px;
  }
}

@media (max-width: 617px) {
  .reportnavbar .logo {
    width: 79px;
    height: 55px;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 100px;
    font-size: 14px;
  }
  .reportnavbar .download button {
    width: 93px;
    height: 37px;
    font-size: 14px;
    margin-left: 20%;
  }
  .reportnavbar .name img {
    width: 26px;
    height: 41px;
  }
}
@media (max-width: 565px) {
  .reportnavbar .logo {
    width: 69px;
    height: 55px;
    margin-right: 0;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 100px;
    font-size: 13px;
  }
  .reportnavbar .download button {
    width: 93px;
    height: 37px;
    font-size: 14px;
    margin-left: 20%;
  }
  .reportnavbar .name img {
    width: 23px;
    height: 39px;
    margin-right: 3px;
  }
}
@media (max-width: 536px) {
  .reportnavbar .logo {
    width: 69px;
    height: 55px;
    margin-right: 0;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 70px;
    font-size: 13px;
    line-height: 19px;
  }
  .reportnavbar .download button {
    width: 93px;
    height: 37px;
    font-size: 14px;
    margin-left: 20%;
  }
  .reportnavbar .name img {
    width: 23px;
    height: 39px;
    margin-right: 3px;
  }
}

@media (max-width: 375px) {
  .reportnavbar .logo {
    width: 55px;
    height: 55px;
    margin-right: 0;
  }
 
  .reportnavbar .download {
    width: 42%;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 90px;
    font-size: 13px;
    line-height: 19px;
  }
  .reportnavbar .download button {
    width: 86px;
    height: 34px;
    font-size: 12px;
    margin-left: 20%;
  }
  .reportnavbar .name img {
    width: 23px;
    height: 39px;
    margin-right: 3px;
  }
}

@media (max-width: 320px) {
  .reportnavbar .logo {
    width: 53px;
    height: 51px;
    margin-right: 0;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 69px;
    font-size: 14px;
    line-height: 19px;
  }
  .reportnavbar .download button {
    width: 86px;
    height: 34px;
    font-size: 12px;
    margin-left: -60%;
  }
  .reportnavbar .name img {
    width: 23px;
    height: 39px;
    margin-right: 3px;
  }
  .reportnavbar .download {
    width: 30%;
}
}

@media (max-width: 280px) {
  .reportnavbar .logo {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }
  .reportnavbar .name p {
    margin: -4px 0px;
    width: 60px;
    font-size: 12px;
    line-height: 19px;
  }
  .reportnavbar .download button {
    width: 65px;
    height: 28px;
    font-size: 10px;
    margin-left: 1%;
  }
  .reportnavbar .name img {
    width: 23px;
    height: 39px;
    margin-right: 3px;
  }
  .reportnavbar .download {
    width: 37%;
  }
}