.billingInfo ul {
  list-style: none;
  width: 100%;
}
.billingInfo ul li {
  display: inline-block;
}
.billingInfo .billingTo h5 {
  font: normal normal bold 20px/40px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingInfo .billingTo p {
  letter-spacing: 0px;
  color: #1c1c26;
  font-size: 15px;
  line-height: 7px;
  font-weight: normal;
  font-family: "lato";
}
.billingInfo .billingDataLi {
  float: right;
  width: 44%;
}
.billingInfo .billingDataLi .billing-data {
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.billingInfo .billing-data span {
  font: normal normal normal 17px/0px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-left: 10%;
  text-align: right;
}
.billingInfo .billing-data p {
  text-align: left;
  display: inline-block;
  font: normal normal normal 18px/9px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingInfo .billing-data {
  text-align: end;
}
@media(max-width:992px){
    .billingInfo .billingDataLi {
        float: right;
        width: 50%;
      }
}
@media(max-width:880px){
  .billingInfo .billingDataLi {
      float: right;
      width: 55%;
    }
}
@media(max-width:768px){
  .invoiceData .invoiceData2 .data {
    padding: 39px 50px 0 50px;
}

.billingInfo .billingDataLi {
  float: right;
  width: 60%;
}
.billingInfo .billing-data p {
font: normal normal normal 16px/9px Lato;
}
.billingInfo .billing-data span {
font: normal normal normal 15px/0px Lato;
}
}
@media(max-width:426px){
  .billingInfo{
    padding: 4px 28px 0px 28px;
  }
  .billingInfo .billingDataLi {
    float: left;
    width: 100%;
}
.billingInfo .billing-data {
  text-align: left;
}
}
@media(max-width:415px){
  .billingInfo .billingDataLi {
    float: left;
    width: 100%;
}
.billingInfo .billing-data {
  text-align: left;
}
}
@media(max-width:280px){
  .billingInfo .billingDataLi .billing-data {
    padding: 10px 6px 10px 6px;
}
}