.invoiceTable {
  margin-top: 4%;
}
.invoiceTable table {
  width: 100%;
}
.invoiceTable table thead th {
  text-align: left;
  font: normal normal 500 20px/29px Lato;
  letter-spacing: 0px;
  color: #888888;
  border-top: 0;
  border-bottom: 0;
}
.invoiceTable table tr td .carData h5 {
  text-align: left;
  font: normal normal 500 20px/24px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable table tr td .carData .row,
.invoiceTable table tr td .services .row {
  margin-left: 0;
  margin-right: 0;
}
.invoiceTable table tr td .carData .copy {
  margin: 0px 0px 8px 7px;
  cursor: pointer;
}
.invoiceTable table tr td .services .icon {
    margin: 0px 0px 2px 7px;
    cursor: pointer;
    height: 16px;
  }
  .invoiceTable table tr td .services .icon2 {
    margin: 0px 0px 2px 7px;
    cursor: pointer;
    height: 16px;
  }
.invoiceTable table tr td .carData p {
  text-align: left;
  font: normal normal normal 16px/19px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.invoiceTable table tr td .carData .arrow {
  width: 11px;
  height: 11px;
  margin: 6px 6px 0px 6px;
}
.invoiceTable table tr td .services h6 {
  text-align: left;
  font: normal normal 500 17px/20px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable table tr td .prices h6 {
  text-align: left;
  font: normal normal 500 17px/20px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable .payBtn button {
  background: transparent linear-gradient(257deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 5px;
  width: 160px;
height: 53px;
  text-align: center;
  font: normal normal 500 20px/29px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  border: 0;
}
.invoiceTable button:focus {
  outline: 0px dotted;
  outline: 0;
}

.invoiceTable .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
 .invoiceTable .subtotal h6{
    text-align: left;
    font: normal normal 500 20px/29px Lato;
    letter-spacing: 0px;
    color: #1C1C26;
 }
 .invoiceTable .total{
    font: normal normal 500 24px/39px Lato;
    letter-spacing: 0px;
    color: #1C1C26;
 }
 .invoiceTable .subtotal-prices h6{
    text-align: left;
    font: normal normal 500 20px/29px Lato;
    letter-spacing: 0px;
    color: #1C1C26;
 }
 .invoiceTable .total-price{
    text-align: left;
    font: normal normal 500 24px/39px Lato;
    letter-spacing: 0px;
    color: #1C1C26;
 } 

 @media(max-width:992px){
    .invoiceTable .payBtn button{
        width: 103px;
    }
    .invoiceTable .total-price {
        text-align: left;
        font: normal normal 500 22px/39px Lato;
    }
 }
 @media(max-width:425px){
    .invoiceTable .total-price {
        text-align: left;
        font: normal normal 500 14px/39px Lato;
    }
    .invoiceTable .payBtn button {
        width: 90px;
    }
    .invoiceTable table thead th {
        text-align: left;
        font: normal normal 500 16px/29px Lato;
    }
    .invoiceTable table tr td .carData h5 {
        text-align: left;
        font: normal normal 500 17px/24px Lato;
    }
    .invoiceTable table tr td .carData p {
        text-align: left;
        font: normal normal normal 12px/0px Lato;
        letter-spacing: 0px;
    }
    .invoiceTable table tr td .services h6 {
        text-align: left;
        font: normal normal 500 15px/20px Lato;
    }
    .invoiceTable table tr td .prices h6 {
        text-align: left;
        font: normal normal 500 14px/20px Lato;
    }
    .invoiceTable table tr td .services .icon {
        margin: 0px 0px 2px 7px;
        cursor: pointer;
        height: 13px;
    }
    .invoiceTable table tr td .services .icon2 {
        margin: 0px 0px 2px 7px;
        cursor: pointer;
        height: 13px;
    }
    .invoiceTable .subtotal h6 {
        text-align: left;
        font: normal normal 500 18px/29px Lato;
    }
    .invoiceTable .subtotal-prices h6 {
        text-align: left;
        font: normal normal 500 17px/29px Lato;
    }
    .invoiceTable .total {
        font: normal normal 500 20px/39px Lato;
        letter-spacing: 0px;
    }
 }
 @media(max-width:376px){
    .invoiceTable .payBtn button {
        width: 70px;
    }
    .table th, .table td {
        padding: 10px !important;
    }
 }

 @media(max-width:360px){
    .invoiceTable .payBtn button {
        width: 70px;
        height: 37px;
    }
    .table th, .table td {
        padding: 8px !important;
    }
 }
 @media(max-width:320px){
    .invoiceTable table tr td .carData h5 {
        text-align: left;
        font: normal normal 500 15px/24px Lato;
    }
    .invoiceTable table tr td .services h6 {
        text-align: left;
        font: normal normal 500 14px/20px Lato;
    }
    .invoiceTable table tr td .prices h6 {
        text-align: left;
        font: normal normal 500 12px/20px Lato;
    }
    .invoiceTable .subtotal h6 {
        text-align: left;
        font: normal normal 500 16px/29px Lato;
    }
    .invoiceTable .subtotal-prices h6 {
        text-align: left;
        font: normal normal 500 14px/29px Lato;
    }
    .invoiceTable .total {
        font: normal normal 500 19px/39px Lato;
        letter-spacing: 0px;
    }
    .invoiceTable .total-price {
        text-align: start;
        font: normal normal 500 12px/39px Lato;
    }
    .invoiceTable .payBtn button {
        width: 55px;
        height: 34px;
        font-size: 16px;
    }
    .invoiceTable table tr td .carData .copy {
        margin: 0px 0px 5px 7px;
        cursor: pointer;
        height: 11px;
    }
 }

 .has-tooltip {
  position: relative;
}
.has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
}
.has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.invoiceTable .nn{
  left: 40% !important;
}
/* Tooltip Body */
.tooltip {
  bottom: 112%;
  width: 190px;
  left: 77%;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  font: normal normal normal 12px/19px Lato !important;
  color: #ffffff;
  height: auto;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 7px;
}

/* Tooltip Caret */ 
@media(max-width:805px){
  .tooltip{
    left: -129px;
  }
}  

 @media(max-width:280px){
    .invoiceTable table tr td .services h6 {
        text-align: left;
        font: normal normal 500 12px/20px Lato;
    }
    .invoiceTable table tr td .carData h5 {
        text-align: left;
        font: normal normal 500 12px/24px Lato;
    }
    .invoiceTable table tr td .carData .arrow {
        width: 11px;
        height: 11px;
        margin: 14px 6px -3px 6px;
    }
    .table th, .table td {
        padding: 4px !important;
    }
 }