.payment {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 3px;
    padding: 28px 23px 17px 23px;
  }
  .payment .payHeader button {
    height: 44px;
    background: #1c1c26 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 5px;
    color: white;
  }
  .payment .or p:before,
  .payment .or p:after {
    background-color: #8888886e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .payment .or p:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .payment .or p:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .payment .or p {
    overflow: hidden;
    text-align: center;
    font: normal normal 500 13px/16px Lato;
    letter-spacing: 0px;
    color: #888888;
  }
  .payment .or {
    margin-top: 4%;
    margin-bottom: 10%;
  }
  .payment .form .form-control {
    border-bottom: 1px solid #ced4da;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .payment .form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
  }
  .payment .form .row {
    padding: 0;
    margin-top: -4%;
  }
  .payment .form .form-group {
    margin-top: 7%;
  }
  .payment .input-group {
   
  }
  .payment .input-group .inpt {
    border-bottom: 1px solid transparent;
  }
  .payment .noteBtn p {
    font: normal normal 500 13px/16px Lato;
    letter-spacing: 0px;
    color: #888888;
  }
  .payment .noteBtn a {
    text-align: left;
    font: normal normal 500 13px/16px Lato;
    letter-spacing: 0px;
    color: #0078d4;
  }
  .payment .noteBtn {
    margin-top: 8%;
  }
  .payment .noteBtn button {
    background: transparent linear-gradient(265deg, #4498d8 0%, #0078d4 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 5px;
    color: white;
    height: 44px;
    border: 0 !important;
    font: normal normal normal 17px/21px Lato;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .payment .form ::placeholder {
    color: #888888e7;
    font: normal normal normal 15px/21px Lato;
    opacity: 1;
  }
  .custom-tooltip-styling {
    background-color: red !important;
  }
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  /* Base Style ------------------*/
  body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 100px;
  }
  a {
    color: #cb786c;
  }
  
  /* =Tooltip Style -------------------- */
  
  /* Tooltip Wrapper */
  .has-tooltip {
    position: relative;
  }
  .has-tooltip .tooltip {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
    -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
    -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
    transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  }
  .has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  /* Tooltip Body */
  .tooltip {
    bottom: 112%;
    width: 186px;
    left: -275%;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    font: normal normal normal 12px/19px Lato !important;
    color: #ffffff;
    height: 109px;
    background: #1c1c26 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000004d;
    border-radius: 7px;
  }
  
  /* Tooltip Caret */ 
  @media(max-width:805px){
    .tooltip{
      left: -129px;
    }
  }  
  .payment .MuiInput-underline:before {
    border-bottom: 1px solid #ced4da !important;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .payment .item{
    width: 50%;
  }
   
  .payment .MuiGrid-item{
    width: 100%;
  }
  /* .payment .item img{}
  .payment #standard-basic2{
    width: 165%;
  } */
  
  .payment .x {
    opacity: 0.35;
  }
  
  .payment .active {
    opacity: 1;
  }
  .payment .error.valid {
    color: #2ECC40;
  }
  
  .payment .error.invalid {
    color: #FF4136;
  }
  @media(max-width:426px){
    .payment .item {
      width: 75%;
  }
  }
  
  @media(max-width:376px){
    .payment .item {
      width: 75%;
  }
  .payment .item img{
    width: 20%;
  }
  }